
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: aegis-model-rollout
  namespace: aegis
spec:
  replicas: 3
  strategy:
    canary:
      steps:
        - setWeight: 10
        - pause: {duration: 300}     # allow metrics to be collected
        - setWeight: 50
        - pause: {duration: 300}
  selector:
    matchLabels:
      app: aegis-model
  template:
    metadata:
      labels:
        app: aegis-model
    spec:
      containers:
        - name: model
