  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
# Sample values to deploy a highly-available Redis via bitnami/redis Helm chart (Redis Cluster)
cluster:
  enabled: true
  slaveCount: 3

usePassword: false
auth:
  enabled: false

master:
  persistence:
    enabled: true
    size: 10Gi

metrics:
  enabled: true

resources:
  master:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi
  replica:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi
